block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(property='og:image', content='img/hero/mobile-img.jpg')
		// Chrome, Firefox OS and Opera
		meta(name='theme-color', content='#061626')
		// Windows Phone
		meta(name='msapplication-navbutton-color', content='#061626')
		// iOS Safari
		meta(name='apple-mobile-web-app-status-bar-style', content='#061626')
		meta(name="theme-color" content="#061626")
		meta(name="apple-mobile-web-app-status-bar-style" content="061626")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="icon" sizes="16x16" href="img/favicon/favicon-16x16.png" type="image/png")
		link(rel="icon" sizes="32x32" href="img/favicon/favicon-32x32.png" type="image/png")
		link(rel="icon" sizes="48x48" href="img/favicon/favicon-48x48.png" type="image/png")
		link(rel="preload" as="font" href="fonts/ProximaNova-Regular.woff2" type="font/woff2" crossorigin)
		link(rel="preload" as="font" href="fonts/ProximaNova-Bold.woff2" type="font/woff2" crossorigin)
		link(rel="preload" as="font" href="fonts/ProximaNova-Light.woff2" type="font/woff2" crossorigin)

		script.
			localStorage.setItem('theme', 'theme-dark');

			// function to set a given theme/color-scheme
			function setTheme(themeName) {
				localStorage.setItem('theme', themeName);
				document.documentElement.className = themeName;
			}
			// function to toggle between light and dark theme
			function toggleTheme() {
				if (localStorage.getItem('theme') === 'theme-dark') {
					setTheme('theme-light');
					} else {
						setTheme('theme-dark');
					}
				}

			// Immediately invoked function to set the theme on initial load
			(function () {
				if (localStorage.getItem('theme') === 'theme-dark') {
					setTheme('theme-dark');
					} else {
						setTheme('theme-light');
				}
			})();
	body(class=name)
		//- header.header
			//- include  ../../blocks/modules/header/header.pug
		main.content
			block content
		//- footer.footer
			//- include  ../../blocks/modules/footer/footer.pug
		block scripts
